Django==3.2.5
celery==5.1.2
redis==3.5.3
python-dotenv==0.19.1
psycopg2==2.9.1
#celery
#redis
#env
#python -m pip install pywin32
#pip install django-redis
#pip3 install django-widget-tweaks
#pip install Pillow